body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-title {
    text-align: center;
    font-size: 3em; /* Adjust font size as needed */
    margin: 20px 0; /* Adjust margin as needed */
}

nav {
    position: fixed;
    top: 95px;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0; /* Increase padding to make the nav bar bigger */
    text-align: center;
    font-size: 1.2em; /* Increase font size */
    opacity: 0.8; /* Set the opacity of the navigation bar */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin: 0 20px; /* Increase margin between items */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 20px; /* Adjust this value to avoid overlap with the fixed nav */
}

.Homepage-image {
    width: 100%;
    height: auto;
}